<h1>Contacts#new</h1>
<p>Find me in app/views/contacts/new.html.erb</p>


<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <div class="col-4 offset-4 table-active h3 text-center">Contact
        </div>
        <div class="col-4 offset-4 h5 text-center">SAY HI!!</div>
      </h1>
    </div>
  </div>
</section>

  <div class="container">
<%= form_for contacts_new_path @contact do |f| %>

  <div class="form-group">
    <%= f.label :email, 'タイトル' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, '返信先メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

 <div class="form-group">
   <%= f.label :message, 'お問い合わせ内容' %>
   <%= f.text_area :message, size: '10x10', class: 'form-control' %>
 </div>

  <%= f.submit '送信', class: "btn btn-primary" %>

<% end %>
  </div>