

<div class="container">
  <div class="row">
    <div class="col-3 offset-1 table-active h4 text-center">SPOT EDIT</div>
  </div>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">

          <%= render 'error', post: @post %>

            <section class="section">
              <div class="container">

                <% @post.post_images.each do |img| %>
                  <%= attachment_image_tag img, :post_image, fallback: "noimage.png", class: "postimage" %>
                    <%= form_for(img,url:post_post_image_path(@post,img), method: :patch) do |f| %>
                    <% end %>
                  <% end %>
                  <% if current_user && @post.user.id == current_user.id %>
                    <%= link_to "写真変更", edit_post_post_image_path(@post), class: "button is-success" %>
                  <% end %>
                  <br>
                  </br>

                  <%= form_for @post do |f| %>
                    <div class="field">
                      <%= f.label :title, "SPOT名", style: "width: 15%;", class: "label" %>
                      <%= f.text_field :title, style: "width: 45%;", class: "input" %>
                    </div>

                     <div class="field">
                      <%= f.label :body, "説明文", style: "width: 15%;", class: "label" %>
                      <%= f.text_area :body, style: "width: 60%; height: 120px;", class: "textarea" %>
                    </div>

                    <div class="field">
                      <%= f.label :place, "所在地", style: "width: 15%;", class: "label" %>
                      <%= f.text_field :place, style: "width: 60%; height: 30px;", class: "textfield" %>
                    </div>

                    <%= f.submit '投稿', class: "button is-success" %>
                  <% end %>

                  

                  <td>
                        <div class="float-right">
                          <% if current_user && @post.user.id == current_user.id %>
                            <%= link_to "戻る", post_path(@post), class: "button is-success" %>
                          <% end %>
                        </div>
                        <br>
                      </td>
                </div>
              </section>
        </div>
      </div>
    </div>
  </section>
</div>

